:root {
  --primary-color: #fac25a;
  --bg-color: #2c3339;
  --btn-color: #4c5358;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: var(--bg-color) !important;
  color: #fff !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
background-color: var(--primary-color);
border-radius: 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

/* .navigated-sections   */
.navigated-sections {
  position: relative;
  /* min-height: 900vh; */
}

.navigated-sections__nav {
  position: sticky;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--bg-color);
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.navigated-sections__nav-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  background-color: transparent;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
}

.navigated-sections__nav-button:before {
  border-radius: 20px;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: -1;
  height: 0;
  max-height: 0;
  transform-origin: bottom;
  transition: max-height 0.3s ease;
}
.navigated-sections__nav-button:hover::before {
  height: 100%;
  max-height: 100%;
}
.navigated-sections__section--title {
    font-size: 40px;
}
/* about section  */
.navigated-sections__section-content--about {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
  margin-bottom:80px;
  width: 80%;
  margin: 0 auto;
}
.navigated-sections__section-content--about img {
  border: 1px solid #fff;
  padding: 1rem;
}
.navigated-sections__section-content--about > div h4 {
  margin-bottom: 3rem;
  font-size: 32px;
}
.navigated-sections__section-content--about > div p {
  line-height: 1.5;
  font-weight: 100;
  font-size: 16px;
}
.navigated-sections__section-content--about > div span:nth-of-type(2) {
  margin: 2rem 0;
  display: block;
}

/* map  */
.navigated-sections__section--location {
    position: relative !important;
    padding:20px 0;
}
.navigated_sections__section-content--location-overlay {
    background: linear-gradient(180deg,#2c3339 10%, rgba(44,51,57,.1) );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}
.navigated-sections__section--location-title{
    position: absolute;
    z-index: 3;
    top: 20px;

}
.navigated-sections__section-content--location{
  position: relative;
  overflow: hidden;
}
.navigated-sections__section-content--location iframe {
    width:100%;
    position: relative;
}

.navigated-sections__section-content--location-slider{
  padding:32px 0;
  display:flex;
  gap:32px;
  /* @media only screen and (max-width: 991px) {
    flex-direction: column;
  } */
}
.navigated-sections__section-content--location-slider div:first-of-type{
  min-width: 200px;
}
.navigated-sections__section-content--location-slider div:first-of-type h4 {
  font-size:18px;
  text-transform:capitalize;
  font-weight: 600;
  margin-bottom:12px;
}
.navigated-sections__section-content--location-slider div:first-of-type p {
  font-size:13px;
  max-width: 200px;
}

.navigated-sections__section-content--location-card {
  background-color: hsla(0,0%,100%,.05);
  padding:20px;
  border-radius: 0 0 24px 0;
  min-width: 200px
}
.navigated-sections__section-content--location-card > div:first-of-type{
  display:flex;
  gap:12px;
  align-items: flex-end;
  margin-bottom:12px;
}
.navigated-sections__section-content--location-card > div:first-of-type h2{
  font-size:44px;
  font-weight: 600;
  margin-bottom:0;
}
.navigated-sections__section-content--location-card > div:first-of-type h6{
  font-size:13px;
  font-weight: 100;
}

.location-swiper {
  width: 100%;
}

/* Custom Swiper navigation arrows for location slider */
.location-swiper-button-next, .location-swiper-button-prev {
  /* background: var(--primary-color); */
  color: #2c3339;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.15); */
  transition: background 0.2s, color 0.2s;
}
.location-swiper-button-next:hover, .location-swiper-button-prev:hover {
  /* background: #fff; */
  color: var(--primary-color);
}
.location-swiper-button-next::after, .location-swiper-button-prev::after {
  display: none;
}

.navigated-sections__section--contact {
  /* background-color: var(--bg-color); */
  padding: 4rem 0;
}


.navigated-sections__contact-info {
  text-align: center;
}

.navigated-sections__contact-info h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.navigated-sections__contact-info h2 span {
  color: var(--primary-color);
  font-family: Sacramento,Droid Arabic Kufi,Arial,sans-serif;
}

.navigated-sections__contact-form {
}

.navigated-sections__contact-form form {
    width: 70%;
    margin: 4em auto 0;
    padding: 7em;
    border-radius: 0 0 7rem 0;
    background: #373d43;
}

.navigated-sections__contact-form form .form-group {
    width: 100%;    
    margin-bottom: 1.5rem;
}

.navigated-sections__contact-form form input, 
.navigated-sections__contact-form form textarea,
.navigated-sections__contact-form form select {
    border: 1px solid #656565;
    border-radius: .7rem;
    background-color: transparent;
    width: 100%;
    padding: .7rem 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.navigated-sections__contact-form form input::placeholder,
.navigated-sections__contact-form form textarea::placeholder {
    color: #888;
    font-size: 16px;
}

.navigated-sections__contact-form form .form-group-checkbox label {
    font-size: 14px;
    font-weight: 400;
}

.navigated-sections__contact-form form .form-group span {
    font-size: 12px;
    text-align: end;
    display: flex;
    justify-content: end;
    color: #cecece8a;
    font-weight: 400;
}

.navigated-sections__contact-form form .form-group-checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;    
}

.navigated-sections__contact-form form .form-group-checkbox label {
    font-size: 16px;
    font-weight: 400;
    color: #656565;
}

.navigated-sections__contact-form form .form-group-checkbox label a {
    color: var(--primary-color);
    text-decoration: none;
}

.navigated-sections__contact-form form .form-group-checkbox label a:hover {
    color: var(--primary-color);
}

.navigated-sections__contact-form form .form-group-checkbox input {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
}

.navigated-sections__contact-form form select {
    color: #888;
    font-size: 16px;
}

.navigated-sections__contact-form form .form-group-button {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 2rem;
}

.navigated-sections__contact-form form .send-button {
    background-color: var(--primary-color);
    color: #4c5358;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: .5rem 4rem;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: end;
    gap: 1rem;
}

.video-thumbnail {
  position: relative;
  display: inline-block;
  /* border: 4px solid #333; */
  border-radius: 0 0 120px 0;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #2c3339, rgba(17, 17, 17, 0));
}

.video-thumbnail::after {
  content: "";
  position: absolute;
  left: 0; right: 0; bottom: 0;
  height: 50%; /* Adjust as needed */
  background: linear-gradient(0deg, #2c3339, rgba(17, 17, 17, 0)); /* Or use a background-image here */
  pointer-events: none;
  z-index: 2;
  border-radius: 0 0 120px 0;
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
  display: block;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 34px;
  color: white;
}

/* Modal Styles */
.modal-video {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}
.modal-video .modal-content {
  position: relative;
  width: 90vw;
  height: 90vh;
  background: #000;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-video .close-modal {
  position: absolute;
  top: 12px;
  right: 24px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}
.modal-video iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

.navigated-sections__section--project-materials {
  padding: 5rem 0;
}

.navigated-sections__section-content--project-materials h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.construction-update-slider {
  width: 100%;
  height: 100%;
}

.construction-update-slider .swiper {
  width: 100%;
  height: 100%;
}

.construction-update-slider .swiper-slide {
  width: 100%;
  height: 100%;
}

.construction-update-slider .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #2c3339, rgba(17, 17, 17, 0)); /* Or use a background-image here */
  pointer-events: none;
  z-index: 2;
  border-radius: 0 0 120px 0;
}

.construction-update-slider .swiper-slide img {
  width: 100%;
  height: 350px;
  /* height: 100%; */
  border-radius: 0 0 120px 0;
  object-fit: cover;
}

.construction-update-slider .swiper-button-next,
.construction-update-slider .swiper-button-prev {
  color: #fff;
  background-color: #2c3339;
  border-radius: 50%;
}

.construction-update-slider .swiper-button-next {
  right: 0;
}

.construction-update-slider .swiper-button-prev {
  left: 0;
}   

.construction-update-slider .construction-update-slider-pagination {
  bottom: 0;
  width: fit-content !important;
}

.construction-update-slider .swiper-pagination-bullet {
    background-color: #fff;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    opacity: .2;
}

.construction-update-slider .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}


.swiper-slide-text {
    text-align: center;
    /* margin: 12px 0; */
    font-size: 14px;
    color: #fff;
    width: fit-content;
    white-space: nowrap;
    /* font-weight: bold; */
}

.navigated-sections__section--tab {
  padding: 5rem 0;
  position: relative;
}

.navigated-sections__section--tab h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.navigated-sections__section--tab .navigated-sections__section--tab-links .nav-link {
  color: #fff !important;
  background-color: transparent !important;
  border-radius: 50px !important;
  padding: 10px 30px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-bottom: 1rem !important;
}

.navigated-sections__section--tab .navigated-sections__section--tab-links .nav-link.active {
    color: #fac25a !important;
    background-color: #fac25a14 !important;
    border-radius: 50px !important;
    font-weight: 600 !important;
    margin-bottom: 1rem !important;
}

.navigated-sections__section--tab .tab-content .tab-pane {
  position: relative;
}

.navigated-sections__section--tab .tab-content .tab-pane img {
  width: 80%;
  height: 350px;
  margin-left: 10%;
  border-radius: 0 0 120px 0;
  object-fit: cover;
}

.navigated-sections__section--tab .tab-content .tab-pane .nav-tabs {
  border-bottom: 1px solid #ffffff2a;
  /* margin-bottom: 1rem; */
  width: 80%;
  margin-left: auto;
  /* margin-right: auto; */
}

.navigated-sections__section--tab .tab-content .tab-pane .nav-tabs .nav-link {
  color: #ffffff70;
  font-size: 18px;
  font-weight: 400;
  padding: 0 15px;
  background-color: transparent;
}


.navigated-sections__section--tab .tab-content .tab-pane .nav-tabs .nav-link.active {
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color);
}

.navigated-sections__section--tab .tab-content .tab-pane .tab-content {
  padding: 2rem 0;
}

.navigated-sections__section--tab .tab-content .tab-pane .tab-content .tab-pane {
  padding: 2rem 0;
}

.navigated-sections__section--tab .tab-content .tab-pane .tab-content .tab-pane h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}


.tab-arrow-prev, .tab-arrow-next {
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.tab-arrow-prev {
  left: 0;
}

.tab-arrow-next {
  right: 0;
}

.tab-arrow-prev:disabled, .tab-arrow-next:disabled {
    color: #ccc !important;
    cursor: not-allowed;
}

.navigated-sections__section--project-amenities {
  padding: 0 0 5rem 0;
}

.card-Amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.navigated-sections__section--project-amenities h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 3rem;
}

.card-Amenities__card {
  /* width: 25%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: .6rem;
  text-decoration: none;
  padding: 0 1rem;
}

.card-Amenities__card:hover .card-Amenities__card-image {
    position: relative;
    top: -10px;
    transition: top 0.3s ease;
}

.card-Amenities__card:hover .card-Amenities__card-content {
    top: -10px;
    transition: top 0.7s ease;
}

.card-Amenities__card-image {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    transition: top 0.3s ease;
}

.card-Amenities__card-image img {
    width: 59px;
    height: 59px;
    object-fit: cover;
}

.card-Amenities__card-content {
    position: relative;
    top: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s ease;
}

.card-Amenities__card-content h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #fff;
}

.navigated-sections__section--project-materials {
    padding: 0 0 5rem 0;
}

.navigated-sections__section--project-materials .card-Amenities__card .card-Amenities__card-content h3 {
    color: #fac25a;
}

.navigated-sections__section--project-materials h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.navigated-sections__section--project-interiors {
  padding: 5rem 0 0 0;
}

.navigated-sections__section--project-interiors h2 {
  font-size: 46px;
  font-weight: 600;
  /* margin-bottom: 3rem; */
  position: relative;
  top: -4rem;
  left: 1rem;
  z-index: 10;
}

.navigated-sections__section--project-interiors .project-interiors__image {
  width: 100%;
  height: 500px;
  position: relative;
}

.interiors-swiper,
.interiors2-swiper {
  width: 90%;
  margin-right: auto;
  height: 100%;
}

.interiors-swiper .swiper-slide,
.interiors2-swiper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0 0 120px 0;
  overflow: hidden;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); */
  transition: transform 0.3s ease;
}


.interiors-swiper .swiper-slide::before,
.interiors2-swiper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #2c3339, rgba(17, 17, 17, 0)); /* Or use a background-image here */
  pointer-events: none;
  z-index: 2;
  border-radius: 0 0 120px 0;
}

.interiors-swiper .swiper-slide img,
.interiors2-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 120px 0;
}

/* Navigation Buttons */
.interiors-swiper-button-next,
.interiors-swiper-button-prev,
.interiors2-swiper-button-next,
.interiors2-swiper-button-prev {
  color: var(--primary-color);
  /* background: rgba(44, 51, 57, 0.8); */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.interiors-swiper-button-next,
.interiors2-swiper-button-next {
  right: 0;
}

.interiors-swiper-button-prev,
.interiors2-swiper-button-prev {
  left: 0;
}

.interiors-swiper .swiper-slide,
.interiors2-swiper .swiper-slide {
  opacity: 0.5;
}
/* Card Effect Styles */
.interiors-swiper .swiper-slide-active,
.interiors2-swiper .swiper-slide-active {
  opacity: 1;
  z-index: 2;
}

.interiors-swiper .swiper-slide-prev,
.interiors2-swiper .swiper-slide-prev,
.interiors-swiper .swiper-slide-next,
.interiors2-swiper .swiper-slide-next {
  opacity: 0.7;
}

.navigated-sections__section--project-interiors .project-interiors__content {
  padding: 2rem 0;
}

.navigated-sections__section--project-interiors .project-interiors__content h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.navigated-sections__section--project-interiors .project-interiors__content p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.navigated-sections__section--project-interiors .project-interiors__content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.navigated-sections__section--project-interiors .project-interiors__content ul li {
  /* margin-bottom: 1rem; */
}

.navigated-sections__section--project-interiors .project-interiors__content ul li p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0rem;
  /* margin-bottom: 1rem; */
}

.navigated-sections__section--project-interiors .project-interiors__content ul li p span {
  font-weight: 300;
}

.navigated-sections__section--project-interiors .project-interiors__content ul li p:before {
  content: "•";
  color: var(--primary-color);
  font-size: 34px;
  margin-top: 0.5rem;
  margin-right: .5rem;
  position: relative;
  top: 0.3rem;
}


.logoMarqueeSection {
  padding-top: 15px;
  padding-bottom: 15px;
}

#logoMarqueeSection {
  max-width: 1920px !important;
  margin: 0 auto;
}

.default-content-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  /* padding-left: 5rem;
    padding-right: 5rem; */
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  width: 100%;
  min-height: 100vh;
}

.marqueelogo {
  height: 65px;
  /* width: 105px; */
}

div.marquee > h2 {
  /* opacity: 0.5; */
  font-size: 10vw;
  font-weight: bold;
  color: #FF1A1A;
  transition: ease-in-out 0.3s;
}


/* div.marquee > h2:hover {
  opacity: 1;
  transition: ease-in-out 0.3s;
} */

.logoMarqueeSection > div > div {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
}

.marquee-wrapper {
  display: flex;
  white-space: nowrap;
}

.marquee {
  display: flex;
  white-space: nowrap;
  position: relative;
  align-items: center;
  transform: translate3d(0%, 0, 0);
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee h2 {
  display: flex;
  white-space: nowrap;
  padding-right: 2.4rem;
  font-weight: 700;
  font-size: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: .8;
  -webkit-text-stroke: #474747;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.marquee-dot {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #474747;
  border-radius: 50%;
  margin: 0 20px;
}

.marquee-wrapper:hover .marquee {
  animation-play-state: paused !important;
}

@keyframes marquee {
  0% {
    transform: translate3d(0%, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.navigated-sections__nav {
  position: sticky;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--bg-color);
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.navigated-sections__nav-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  background-color: transparent;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.navigated-sections__nav-button.active {
  color: #000;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.navigated-sections__nav-button:hover {
  transform: translateY(-2px);
}

/* Add smooth scrolling to the whole page */
html {
  scroll-behavior: smooth;
}

/* Add padding to sections to account for fixed nav */
.navigated-sections__section {
  scroll-margin-top: 80px; /* Adjust this value based on your nav height */
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* background-color: var(--primary-color); */
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}

.back-to-top svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.back-to-top:hover {
  /* background-color: #000; */
  transform: translateY(-5px);
  color: #fff;
}

.back-to-top:hover svg {
  fill: #fac25a;
}

.social-media-icons {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}

.social-media-icons a {
  color: #fff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-media-icons a i {
  font-size: 16px;
}


.social-media-icons a:hover {
  color: #fff;
  /* transform: translateY(-5px); */
  transition: all 0.3s ease;
  background-color: #fac25a;
  border-radius: 20px 0 0 0;
  padding: 10px;
}

.navbar {
  position: absolute !important;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  height: 70px;
  transition: all 0.3s ease;
}

.navbar.active {
  position: fixed !important;
  background-color: #2c3339;
  box-shadow: 0 0 15px rgba(83, 83, 83, .6);
  transition: all 0.3s ease;
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 0; */
  width: 100%;
}

.navbar__logo img {
  width: 100%;
  max-width: 200px;
  object-fit: contain;
}

.navbar__contact {
  display: flex;
}

.navbar__contact a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar__contact a:hover {
  color: #fac25a;
}

.hero {
  position: relative;
  z-index: 1;
  height: 80vh;
}

.hero__overlay {
  position: absolute;
  bottom: 2rem;
  left: 10%;
  z-index: 10;
}

.hero__overlay h1 {
  font-size: 46px;
  font-weight: bold;
  color: #FFF;
}

.hero__overlay h2 {
  color: var(--primary-color);
  font-size: 52px;
  position: relative;
  top: -2rem;
  font-family: Sacramento,Droid Arabic Kufi,Arial,sans-serif;
}



/* .hero-swiper {
  position: relative;
  z-index: 1;
} */

/* .hero-swiper-button-next, .hero-swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  z-index: 1;
} */

.hero-swiper-button-next, .hero-swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  z-index: 1;
  width: 60px;
  border-radius: 50px;
  height: 300px;
  overflow: hidden;
}

.hero-swiper-button-next {
  cursor: pointer;
  left: 0;
}

.hero-swiper-button-prev {
  cursor: pointer;
  right: 0;
}

.hero-swiper-button-next img, .hero-swiper-button-prev img {
  width: 60px;
  border-radius: 50px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.hero-swiper-button-next img {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  /* display: none; */
}

.hero-swiper-button-prev img {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  /* display: none; */
}

.hero-swiper-button-next:hover, .hero-swiper-button-prev:hover {
  transform: translateY(-50%) scale(1.1);
}

.hero-swiper-button-next:hover img, .hero-swiper-button-prev:hover img {
  transform: translateY(-50%) scale(1.1);
}

.hero-swiper-button-next:hover img {
  right: 0;
  /* display: block;  */
  transition: all 0.3s ease;
}

.hero-swiper-button-prev:hover img {
  left: 0;
  /* display: block; */
  transition: all 0.3s ease;
}

.hero-swiper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hero-swiper-slide {
  width: 100% !important;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.hero-swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #2c3339, rgba(17, 17, 17, 0)); /* Or use a background-image here */
  pointer-events: none;
  z-index: 2;
  /* border-radius: 0 0 120px 0; */
}

.hero-swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





@media (max-width: 768px) {
  .hero-swiper-button-next, .hero-swiper-button-prev {
    display: none;
  }
  .hero__overlay {
    left: 1rem;
    bottom: 0;
  }
  .hero__overlay h1 {
    font-size: 32px;
  }
  .hero__overlay h2 {
    font-size: 32px;
  }
  .navigated-sections__section-content--about {
    padding: 0;
    flex-direction: column;
  }
  .navigated-sections__section-content--about .navigated-sections__section-content--about-image {
    width: 100%;
    height: 100%;
  }
  .navigated-sections__nav {
    display: none;
  }
  .navigated-sections__contact-form form {
    width: 94%;
    padding: 2rem 3rem;
  }
  .navigated-sections__section-content--location-slider {
    flex-direction: column;
  }
  .navigated-sections__section-content--location-slider .navigated-sections__section-content--location-slider-image {
    width: 100%;
    height: 100%;
  }
}


















































